Source: opendds
Priority: optional
Maintainer: Fred Hornsey <hornseyf@objectcomputing.com>
Build-Depends: debhelper-compat (= 13), perl (>= 5.26), build-essential
Standards-Version: 4.7.0
Section: libs
Homepage: http://opendds.org

# Package: opendds-dev
# Section: libdevel
# Architecture: any
# Multi-Arch: same
# Depends: opendds (= ${binary:Version}), ${misc:Depends}
# Description: An Open Source C++ DDS Implementation
#  OpenDDS is an open source C++ implementation of the OMG's Data Distribution Service (DDS) Standards. It provides advanced network data sharing which can be filtered by arbitrary criteria. It is also compatible with other DDS systems via the RTPS standard and can be made secure by using the DDS Security standard.

Package: opendds
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: An Open Source C++ DDS Implementation
 OpenDDS is an open source C++ implementation of the OMG's Data Distribution Service (DDS) Standards. It provides advanced network data sharing which can be filtered by arbitrary criteria. It is also compatible with other DDS systems via the RTPS standard and can be made secure by using the DDS Security standard.
